[Unit]
Description=USB camera 2 MJPEG HTTP stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=video
Restart=always
RestartSec=2
ExecStart=/usr/local/bin/stream_camera_http.sh /dev/v4l/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.3:1.0-video-index0 8082 640x480 20

[Install]
WantedBy=multi-user.target
